#live-mood {
  margin-left: 50px;
}

#live-mood video {
  display: none;
  width: 100%;
}

#average {
  width: 350px;
  height: 350px;
}

#buttons img {
  width: 150px;
  margin-right: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

#start-button {
  width: 350px;
  height: 100px;
  display: none;
}

#stop-button {
  width: 350px;
  height: 100px;
  display: none;
}
