#live-mood {
  width: 100%;
}

#live-mood video {
  display: none;
  width: 100%;
}

#average {
  width: 100%;
  height: calc(100vw);
}

#buttons {
  width: 100%;
}

#buttons img {
  width: 39%; /* don't know why 40% does not work */
  margin: 5%;
  cursor: pointer;
}

.start-stop {
  width: 39%;
  height: calc(50vw);
  margin: auto;
  display: none;
}
